/* Ubuntu, Ubuntu */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

:root {
    --accent-color: #0066cc;
    --page-font-family: Ubuntu, sans-serif;
    --monofont-family: Ubuntu Mono;
}

body {
  font-family: var(--page-font-family);
  font-weight: 300;
  color: #330;
  line-height: 1.5;
  font-size: 16px;
  background-color: #fff;
}

a,
a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin-bottom: 15px;
  margin-top: 20px;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid;
  margin: 1rem;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  font-size: 1.4rem;
  font-family: Georgia, bitstream charter, serif;
  border-left: 3px solid;
  border-color: var(--accent-color);
  padding-left: 20px;
}

blockquote cite {
  font-size: 70%;
  opacity: 0.8;
}

span {
    display: block;
}

.container {
  max-width: 800px;
}

ul {
  padding-left: 15px;
  list-style: disc inside;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.prevent-collapse {
  min-height: 0.1rem;
}

.page-title {
  margin: 0;
}

.smaller {
  font-size: 70%;
}

.introduction ul li {
  margin-bottom: 10px;
}

.introduction ul li p {
  display: inline;
}

.highlight pre {
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
  background-color: #fafafa !important;
}

.highlight {
  background: 0 0;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}

.header {
  margin-bottom: 2rem;
}

.header .profile_image {
  display: block;
  max-width: 20%;
  border-radius: .5rem;
  height: auto;
  float: left;
  margin-right: 1rem;
}

.header h1,
.header h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1.3em;
}

.header h2 {
  font-size: 1.0rem;
}

.header svg {
    width: 1rem;
    margin-bottom: -7px;
}

.page_title {
  font-family: var(--page-font-family);
  font-weight: bolder;
  margin-top: 10%;
  display: block;
}

.page_meta {
  display: block;
  font-family: var(--monofont-family);
  font-size: 14px;
}

.page_meta_icon {
  font-weight: .5em;
}

.email {
  font-size: 16px;
  font-family: var(--monofont-family);
  font-weight: bolder;
}

.code {
    font-family: var(--monofont-family);
    font-size: 14px;
    margin: 0em .9em 0em;
}

.site_link {
    font-family: var(--monofont-family);
    font-size: 17px;
}

.project_description {
 margin: .5em .9em 0em;
}

.list .posts .introduction .meta {
  margin-bottom: 0;
  margin-left: 5px;
}

.footer {
  text-align: right;
  font-size: 0.75em;
  color: #999;
  border-top: 1px solid #f4f4f4;
  padding: 20px 0;
  margin-top: 40px;
}

/* Respond to "dark mode" system preference */
@media (prefers-color-scheme: dark) {
    body {
        color: #e4e4e4;
        background-color: #1c1c1c;
    }

    a {
        color: #66b3ff;
    }
    img {
        filter: grayscale(10%);
    }
}
